@layer primeng {
    .p-overlaypanel {
        position: absolute;
        margin-top: 10px;
        top: 0;
        left: 0;
    }

    html[dir='rtl'] .p-overlaypanel {
        left: unset;
        right: 0;
    }

    .p-overlaypanel-flipped {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .p-overlaypanel-close {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .p-overlaypanel:after,
    .p-overlaypanel:before {
        bottom: 100%;
        left: calc(var(--overlayArrowLeft, 0) + 1.25rem);
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    html[dir='rtl'] .p-overlaypanel:after,
    html[dir='rtl'] .p-overlaypanel:before {
        left: unset;
        right: calc(var(--overlayArrowRight, 0) + 1.25rem);
    }

    .p-overlaypanel:after {
        border-width: 8px;
        margin-left: -8px;
    }

    html[dir='rtl'] .p-overlaypanel:after {
        margin-left: unset;
        margin-right: -8px;
    }

    .p-overlaypanel:before {
        border-width: 10px;
        margin-left: -10px;
    }

    html[dir='rtl'] .p-overlaypanel:before {
        margin-left: unset;
        margin-right: -10px;
    }

    .p-overlaypanel-shifted:after,
    .p-overlaypanel-shifted:before {
        left: auto;
        right: 1.25em;
        margin-left: auto;
    }

    html[dir='rtl'] .p-overlaypanel-shifted:after,
    html[dir='rtl'] .p-overlaypanel-shifted:before {
        right: auto;
        left: 1.25em;
        margin-left: unset;
        margin-right: auto;
    }

    .p-overlaypanel-flipped:after,
    .p-overlaypanel-flipped:before {
        bottom: auto;
        top: 100%;
    }

    .p-overlaypanel.p-overlaypanel-flipped:after {
        border-bottom-color: transparent;
    }

    .p-overlaypanel.p-overlaypanel-flipped:before {
        border-bottom-color: transparent;
    }
}
