@layer primeng {
    .p-image-mask {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-image-preview-container {
        position: relative;
        display: inline-block;
        line-height: 0;
    }

    .p-image-preview-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

    html[dir='rtl'] .p-image-preview-indicator {
        left: unset;
        right: 0;
    }

    .p-image-preview-icon.pi {
        font-size: 1.5rem;
    }

    .p-image-preview-icon.p-icon {
        scale: 1.5;
    }

    .p-image-preview-container:hover > .p-image-preview-indicator {
        opacity: 1;
        cursor: pointer;
    }

    .p-image-preview-container > img {
        cursor: pointer;
    }

    .p-image-toolbar {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        z-index: 1;
    }

    html [dir='rtl'] .p-image-toolbar {
        left: 0;
        right: unset;
    }

    .p-image-action.p-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-image-action.p-link[disabled] {
        opacity: 0.5;
    }

    .p-image-preview {
        transition: transform 0.15s;
        max-width: 100vw;
        max-height: 100vh;
    }
}
