@layer primeng {
    .p-scrolltop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html[dir='rtl'] .p-scrolltop {
        right: unset;
        left: 20px;
    }

    .p-scrolltop-sticky {
        position: sticky;
    }

    .p-scrolltop-sticky.p-link {
        margin-left: auto;
    }

    html[dir='rtl'] .p-scrolltop-sticky.p-link {
        margin-left: unset;
        margin-right: auto;
    }
}
